<div class="panel panel-primary">
  <div class="panel-heading">
  <h2>Lista de Pagamento</h2>
  </div>
  <div class="panel-body">
  <table class="table table-striped">
  <thead>
  <tr>
  <th>Coluna 1</th>
  <th>Ações</th>
  </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let it of pagamentos">
      <td>{{it.Nome}}</td>
      <td> 
        <button class="btn btn-danger">Excluir</button>
        <button class="btn btn-info" style="margin-left: 10px">Editar</button>
        <button class="btn btn-info" style="margin-left: 10px">Detalhar</button>
      </td>
    </tr>
   </tbody>
  </table>
  </div>
  </div>